<div class="container mt-4 text-center" data-controller="deck">
  <h4 >Click once to generate a deck, then when you have memorised it, click again to test your skills</h4>
  <button data-action="click->deck#fetchDeck" class="btn btn-primary mb-3" data-deck-target="button">Generate Random Deck</button>
  <div data-deck-target="deck" class="d-flex flex-wrap"></div>
</div>
