.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
}

.tab button.active {
  background-color: #ccc;
  border-radius: 8px;
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: flex;
  margin-right: 8px;
}
